@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 0, 0, 0;
  --primary-rgb: 52, 152, 219;
  --secondary-rgb: 46, 204, 113;
  --accent-rgb: 155, 89, 182;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 0, 0, 0;
    --primary-rgb: 41, 128, 185;
    --secondary-rgb: 39, 174, 96;
    --accent-rgb: 142, 68, 173;
  }
}

body {
  background-color: #8e70bc;
  background-image: linear-gradient(90deg, #a329be 0%, #0a317b 97.15%);
  background-blend-mode: overlay;
  color: rgb(var(--foreground-rgb));
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--primary-rgb));
}




button {
  background-color: rgb(var(--primary-rgb));
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.375rem; /* rounded-md */
}

button:hover {
  background-color: rgb(var(--secondary-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  
  .btn-primary {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  
  .btn-primary:hover {
    @apply bg-blue-700;
  }

  .btn-secondary {
    @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-secondary:hover {
    @apply bg-green-700;
  }
  
  .text-accent {
    @apply text-purple-500;
  }
  
  .bg-accent {
    @apply bg-purple-500;
  }
}

@media (max-width: 768px) {
  body {
    background-image: linear-gradient(90deg, #BD24DF 0%, #2D6ADE 97.15%);
  }
}
